body {
    overflow-x: hidden;
}

.background-color {
    padding-bottom: 9.37rem;
}

.bg--light {
    background-color: var(--light);
    color: var(--blue);
    padding-bottom: 0rem;
}

.bg--blue {
    background-color: var(--blue);
    color: var(--white);
}

.bg--green {
    background-color: var(--dark-green);
    color: var(--light-green);
    & > div {
        align-items: center;
    }
}

.bg--brown {
    background-color: var(--brown);
    color: var(--pink);
}

.bg--yellow {
    background-color: var(--yellow);
    padding-top: 6.25rem;
    height: 100vh;
    height: 100svh;
}