body {
    overflow-x: hidden;
}

.intro {
    margin-bottom: 150px;
}

.intro_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    margin-bottom: 150px;
    padding-bottom: 50px;
}

.brand {
    font-size: 230px;
    line-height: 1;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-top: -50px;
    
}

.logo  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 80px;
    & span {
        text-transform: lowercase;
        font-size: 90px;
    }
    & p {
        margin-top: 10px;
    }
}



/* Quote lijst */

.container {
    min-width: 100vw;
    min-width: 100svh;
    &.container--overflow {
        overflow-x: visible;
    }
}

.bg-blue {
    background-color: var(--blue);
}

.lottie {
    width: 50%;
}

.display-flex-content {
    display: flex;
    
}

/* contact pagina */
.contact-link {
    text-decoration: none;
    text-align: center;
    color: var(--dark-green);
    font-size: 6rem;
    text-transform: initial;
    font-weight: 100;
    font-family:'Canela Light';
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    & div {
        font-size: 20px;
        background-color: var(--blue);
        padding: 70px 50px;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
}