@font-face {
    font-family:'Akzidenz-Grotesk BQ';
    src: url('fonts/Q Reg.woff2') format('woff2'),
		url('fonts/Q Reg.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Canela Light Italic';
    src: url('fonts/CanelaTrial-LightItalic.woff2') format('woff2'),
		url('fonts/CanelaTrial-LightItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family:'Canela Light';
    src: url('fonts/CanelaTrial-Light.woff2') format('woff2'),
		url('fonts/CanelaTrial-Light.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Canela Regular';
    src: url('fonts/CanelaTrial-Regular.woff2') format('woff2'),
		url('fonts/CanelaTrial-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

body {
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
    font-family:'Canela Regular';
}

h2 {
  font-family:'Canela Light';
  font-size: 8rem;
}

span {
  font-family:'Canela Light';
}

p, q , figcaption{
  font-family:'Akzidenz-Grotesk BQ';
}