.card {
    max-width: 25rem;
    & .card_title {
        border-bottom: .06rem solid var(--blue);
        margin-bottom: 1.25rem;
        font-size: 0.85rem;
    }
    & .card_graph {
        font-size: 1.25rem;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    margin-right: 9.37rem;
}

.card--center {
    margin-bottom: 6.25rem;
    & .card-border--white {
        border-bottom: .06rem solid var(--white);
    }
}

.card--list {
    list-style: none;
    max-width: 31.25rem;
    & li {
        display: flex;
        gap: .31rem;
    }
}

.card--left {
    margin-left: 6.25rem;
    & .card-border--green {
        border-bottom: .06rem solid var(--light-green);
    }
}