.slide-in {
    height: auto;
    line-height: 1;
    padding: 1.25rem .62rem;
    & > span {
        display: block;
        overflow: hidden;
        font-size: 8rem;
        & span {
            display: inline-block;
            transform: translateY(100%);
        }
    }
    & span:nth-child(even) {
        font-family: 'Canela Light Italic';
        display: flex;
        justify-content: flex-end;
    }
}

.title--bg-white {
    float: right;
}

.title--center {
    margin: 0 auto;
}