.title {
    height: auto;
    line-height: 1;
    padding: 20px 10px;
    
    & h2 {
        overflow: hidden;
        font-size: 8rem;
        & span {
            display: inline-block;
            transform: translateY(100%);
        }
    }
    
    & h2:nth-child(even) {
        font-family: 'Canela Light Italic';
        display: flex;
        justify-content: flex-end;
    }
}


.title--center {
    margin: 0 auto;
}


